<div class="container">
    <div class="bus-container">
        <div class="col1">
            <img class="primo" alt="Primo" src="../../../../assets/primo_logo.svg" width="30%">
            <h3 class="txt"><strong>Tranz King Travels</strong></h3>
            <p class="sleeper">AC Sleeper(2+1)</p>
            <button class="btn" (click)="viewBusSeats()">View Seats</button>
        </div>
        <div class="col1">
            <h4>From:Tirunelveli</h4>
            <h4>To:Chennai</h4>
            <h4>Available Seats:16</h4>
        </div>
    </div>
</div>

<div class="bus-seats-container" [style.height]="height">
    <div class="seat-div" *ngFor="let i of seatArr" (click)="seatSelect(i)" [style.background-color]="seatbg[i]">{{i}}
    </div>

</div>

<div class="book-container">
    <button class="btn2" (click)="bookticket()" [style.display]="displayBookBtn">BOOK</button>
</div>